{% extends 'base.html' %}
{% load static %}
{% block title %} Sing In {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div style="height: 50vh;" class="d-flex justify-content-center align-items-center pt-5">
    <form method="post" class="w-50" >
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary w-100 mt-3">Sign In</button>
        <small id="emailHelp" class="form-text text-muted d-flex justify-content-center mt-3">If you don't have account yet. <a href="{% url 'register' %}">Click Here!</a></small>
    </form>
</div>
{% endblock %}