{% extends 'base.html' %}
{% load static %}
{% block title %} Filters {% endblock %}

{% block content %}
<div class="d-flex w-100 justify-content-md-start gap-3">
    <div class="pt-4" style="width: 300px;">
        <form method="GET" class="d-flex flex-column  gap-3">
            <input type="text" name="search" placeholder="Search by title" class="form-control">
            <div class="form-check">
                <input name="available" class="form-check-input" type="checkbox" value="True" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Available
                </label>
            </div>
            <div data-role="rangeslider">
                <label for="price_range">Price:</label>
                <input type="range" name="price_range" id="price_min" value="{{max_price}}" min="0" max="{{ max_price }}">
                <output for="price_range" id="price_output"> 0 - {{ max_price }}$</output>
            </div>
            <select class="form-control" name="category">
                <option value="">Choose category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select class="form-control" name="sort">
                <option value="">Sort options</option>
                <option value="price_asc">Price: Low to High</option>
                <option value="price_desc">Price: High to Low</option>
                <option value="popularity">Popularity</option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Apply Filters</button>
        </form>
        <a href="{% url 'products' %}" class="btn btn-danger btn-lg btn-block w-100 mt-2">Clear Filters</a>
    </div>



    <div class="w-75 d-flex justify-content-center align-items-center flex-column gap-3">    
        <div class="d-flex w-100 justify-content-center align-items-center flex-shrink-1 flex-wrap gap-3 pt-4"> 
            {% if object_list %}
                {% for product in object_list %}
                    <div class="card" style="width: 18rem;">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no-image.svg' %}{% endif %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }} - <span class="text-muted">{{ product.price }}$</span></h5>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button class="btn btn-outline-dark w-50" type="button">Add</button>
                                <button class="btn btn-secondary me-md-2 w-50" type="button">Checkout</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <h1>No products available</h1>
            {% endif %}
        </div>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item ">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                {% endif %}
                </li>
              <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
              <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
              </li>
            </ul>
          </nav>
    </div>
</div>


{% endblock %}
