{% extends 'base.html' %}
{% load static %}
{% block title %} Orders {% endblock %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
    <a href="{% url 'store:profile-edit' pk=request.user.id %}" class="btn btn-secondary me-md-2" type="button">Your data</a>
    <a href="{% url 'store:profile' %}" class="btn btn-primary" type="button">You Orders</a>
    </div>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>status</th>
                                <th>Total</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {% for order in object_list %}
                            <tr class="cell-1">
                                <td>#{{order.id}}</td>
                                <td><span class="badge badge-success text-dark">{{order.get_shipping_status_display}}</span></td>
                                <td>${{order.total}}</td>
                                <td>{{order.order_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
